<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=yes">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.95em%22 font-size=%2280%22>&#128214;</text></svg>">
    <title>Wordler</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-iconic@1.1.1/font/css/open-iconic-bootstrap.min.css"
        integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous">
    <link rel="stylesheet" href='[[ generateStaticURL "./statics/main.css" ]]'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
        integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <header class="header fixed-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
                <div class="container">

                    <a class="navbar-brand" href="#">
                        <span>&#128214</span>
                        <span>Wordler</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        </ul>
                        <a class="nav-link text-muted" href="https://github.com/forewing/wordler" target="_blank">
                            <span class="oi oi-star" title="star" aria-hidden="true"></span>
                            Star on GitHub
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container mt-4">
            <div class="row">
                <div class="col col-xl-10 px-2 mx-auto">
                    <div class="card mb-3">
                        <div class="card-header bg-turqgreen">
                            <h3 class="card-title my-auto">
                                <span class="oi oi-cog" title="cog" aria-hidden="true"></span> Filters
                            </h3>
                        </div>
                        <div class="card-body">
                            <component-filter v-for="filter in filters" v-bind:key="filter.key"
                                v-bind:hint="filter.hint" v-bind:field="filter.key" v-bind:name="filter.name"
                                v-model="filter.data">
                            </component-filter>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="check-format"
                                    v-model="format">
                                <label class="form-check-label" for="check-format">
                                    Format result
                                </label>
                            </div>
                            <div class="btn-group d-flex" role="group">
                                <button type="button" class="btn btn-outline-success w-100"
                                    v-on:click="run">Run</button>
                                <button type="button" class="btn btn-outline-danger w-100"
                                    v-on:click="clearInput">Clear</button>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-light mb-3">
                        <div class="card-header bg-middleblue">
                            <h4 class="card-title my-auto">
                                <span class="oi oi-list" title="list" aria-hidden="true"></span> Result
                            </h4>
                        </div>
                        <div class="card-body">
                            <textarea class="form-control" placeholder="Result" rows="15" v-model="result"
                                style="font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer bg-light shadow" style="padding: 1rem; text-align: center;">
        <div class="container mb-0">
            <a href="https://github.com/forewing/wordler/" target="_blank"
                class="text-dark text-decoration-none">Wordler</a>
            <span class="mx-2">|</span>
            <a href="https://github.com/forewing/" target="_blank" class="text-dark text-decoration-none">&copy;
                <script>document.write(new Date().getFullYear())</script> - Forewing
            </a>
        </div>
    </footer>

    <script type="text/x-template" id="component-filter">
        <div class="mb-3">
            <label class="form-label">{{ name }}</label>
            <input type="text" class="form-control" v-bind:placeholder="hint" v-bind:value="value"
                v-on:input="$emit('input', $event.target.value); store($event.target.value);">
        </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src='[[ generateStaticURL "./statics/main.js" ]]'></script>
</body>

</html>